.profileImg {
    padding: 10px 20px;
    height: fit-content;
}

.img {
    display: block;
    margin: 10px auto;
    width: 100%;
}

.profileImgBtn {
    background-color: #ffc3ea;
    font-size: 14px;
    text-align: center;
    margin: 10px auto;
    display: block;
    width: 80%;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}
