.subscribersBox{
    margin: 20px 0;
}
.wrapper {
    padding: 10px 20px;
    height: fit-content;
}

.head {
    margin-top: 10px;
    margin-bottom: 20px;
}

.head span{
    color: lightslategrey;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px ;
    color: #c44e8c;
    cursor: pointer;
}

.item img{
    border-radius: 50px;
    width: 50px;
    margin-bottom: 5px;

}
