.nav {
    grid-area: n;
    /*background-color: burlywood;*/
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover{
    background-color: #ffc3ea;
}

.item a.activeLink {
    color: gold;
}
