.formControl{
    width: 100%;
}

.formControl.error textarea,
.formControl.error input {
    border: 2px solid red;
}

.formControl.error span{
    color: red;
}

.errorMessage{
    color: red;
    font-weight: bolder;
}

.input{
    width: 100%;
}
