.dialogs {
    display: grid;
}

.dialogsItems {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.dialog {

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}
