.dialogs {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.dialogsItems {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 74%;
}

.messages {
    padding: 10px;
}

.filterBox{
    height: fit-content;
    width: 24%;
    padding: 10px 0;
}

.wrapper{

}

.wrapper div{
    padding: 10px 10px 10px 30px;
    margin: 5px 0;
}

.wrapper div:hover {
    background: rgba(130, 130, 130, 0.4);
}

.active{
    background: rgba(130, 130, 130, 0.4);
    border-left: 3px solid dodgerblue;
}
